/* Global */

* {
	font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
		Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
body {
	margin: 0;
}
/* Login Page */

.login-page {
	background-color: red;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.login-card {
	position: relative;
	top: calc(50vh - 144px);
	left: calc(50vw - 210px);
	padding-top: 36px;
	padding-bottom: 66px;
	width: 420px;
	text-align: center;
	background-color: #c4c4c4;
	border-radius: 22px;
}
.login-word {
	position: relative;
	top: calc(50vh - 170px);
	left: calc(50vw - 35px);
	display: inline-block;
	color: #4d2e2e;
	font-size: 26px;
	font-family: "Carter One", cursive;
	margin: 0;
}
.login-button {
	cursor: pointer;
	color: white;
	padding: 12px;
	border-radius: 8px;
	display: inline-block;
}

.facebook {
	background-color: #2a354c;
}
.facebook-icon {
	padding-right: 5px;
}
.google {
	background-color: #51565c;
	color: white;
}

#loading-container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgb(255, 255, 255, 0.22);
}

#loading-icon {
	font-size: 66px;
	position: relative;
	left: calc(50vw - 33px);
	top: calc(50vh - 22px);
}
@media screen and (max-width: 375px) {
	.login-card {
		width: 300px;
		left: calc(50vw - 150px);
	}
}
@media screen and (max-width: 280px) {
	.login-card {
		width: 220px;
		left: calc(50vw - 110px);
	}
}
/* Chats Page */

.chats-page {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
}

.nav-bar {
	width: 100%;
	height: 66px;
	background-color: #d9d9d9;
}

.logo-tab {
	position: absolute;
	left: 22px;
	top: 12px;
	font-size: 28px;
	font-weight: 700;
	color: #4d2e2e;
	font-family: "Carter One", cursive;
}

.logout-tab {
	position: absolute;
	top: 22px;
	right: 22px;
	color: #4d2e2e;
	cursor: pointer;
	font-size: 18px;
	font-family: "Carter One", cursive;
}

::-webkit-scrollbar {
	width: 0; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}
.ce-chats-container,
.ce-chat-form-container {
	background-color: #d9d9d9 !important;
}

.ce-chat-title,
.ce-chat-feed-container,
.ce-message-form-container {
	background-color: #d9d9d9 !important;
}
.ce-chat-card {
	background-color: #c7c7c7 !important;
}
.ce-settings,
.ce-input,
.ce-section-title-container,
#ce-options-drop-down,
.ce-primary-button {
	background-color: #c7c7c7 !important;
}
.ce-message-bubble,
#ce-send-message-button {
	background-color: #4d2e2e !important;
}
.ce-chat-title-text,
.ce-chat-subtitle-text {
	color: #4d2e2e !important;
}
